.tile {
  background:  radial-gradient(white, lightgrey);
  width: 11%;
  outline: 1px solid white;
  text-align: center;
  transition-property: all; 
  transition-duration: 2s;  
}

.logo {
  width: 60%; 
}

